<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.home.realestate.mapper.MemberRealEstateMapper">

	<!-- 사용자 부동산 정보 목록 조회 -->
	<select id="select" resultType="memberRealEstate" parameterType="com.ds.home.model.dto.PagingDTO">
		SELECT
			A.MemberRealEstateIdx,
			A.MemberIdx,
			A.HouseName,
			A.Address,
			A.StationLineNo,
			A.StationNo,
			A.StationRange,
			A.UseApproveDate,
			A.TotalHouseHoldCount,
			A.ParkingPossibleCount,
			A.DirectionType,
			A.Bay,
			A.SupplySpace,
			A.ExclusiveSpace,
			A.DealType,
			A.DealPrice,
			A.BrokerFee,
			A.AcquisitionTax,
			A.PropertyTotalTax,
			A.Remark,
			A.CreateDate,
			A.UpdateDate,
			B.StationName,
			B.StationLineName,
			C.Name AS DirectionTypeName
			
		<!-- 공통 검색 조건 -->
		<include refid="selectOfWhere"></include>
  		 
	</select>
	
	<!-- 사용자 부동산 상세 정보 조회 -->
	<select id="detail" resultType="memberRealEstate" parameterType="Integer">
		SELECT
			MemberIdx,
			HouseName,
			Address,
			StationLineNo,
			StationNo,
			StationRange,
			UseApproveDate,
			TotalHouseholdCount,
			ParkingPossibleCount,
			DirectionType,
			Bay,
			SupplySpace,
			ExclusiveSpace,
			DealType,
			DealPrice,
			BrokerFee,
			AcquisitionTax,
			PropertyTotalTax,
			Remark
		FROM MemberRealEstate
	   WHERE MemberRealEstateIdx = #{memberRealEstateIdx}
	     AND MemberIdx = #{memberIdx}
	</select>
	
	<!-- 사용자 부동산 정보 등록 -->
	<insert id="insert" parameterType="memberRealEstate">
		INSERT INTO MemberRealEstate (
			MemberIdx,
			HouseName,
			Address,
			StationLineNo,
			StationNo,
			StationRange,
			UseApproveDate,
			TotalHouseholdCount,
			ParkingPossibleCount,
			DirectionType,
			Bay,
			SupplySpace,
			ExclusiveSpace,
			DealType,
			DealPrice,
			BrokerFee,
			AcquisitionTax,
			PropertyTotalTax,
			Remark
		) VALUES (
			#{memberIdx},
			#{houseName},
			#{address},
			#{stationLineNo},
			#{stationNo},
			#{stationRange},
			#{useApproveDate},
			#{totalHouseholdCount},
			#{parkingPossibleCount},
			#{directionType},
			#{bay},
			#{supplySpace},
			#{exclusiveSpace},
			#{dealType},
			#{dealPrice},
			#{brokerFee},
			#{acquisitionTax},
			#{propertyTotalTax},
			#{remark}
		)
	</insert>
	
	<!-- 사용자 부동산 정보 수정 -->
	<update id="update" parameterType="memberRealEstate">
		UPDATE	MemberRealEstate
		   SET	HouseName			= #{houseName},
				Address				= #{address},
				StationLineNo		= #{stationLineNo},
				StationNo			= #{stationNo},
				StationRange		= #{stationRange},
				UseApproveDate		= #{useApproveDate},
				TotalHouseholdCount	= #{totalHouseholdCount},
				ParkingPossibleCount= #{parkingPossibleCount},
				DirectionType		= #{directionType},
				Bay					= #{bay},
				SupplySpace			= #{supplySpace},
				ExclusiveSpace		= #{exclusiveSpace},
				DealType			= #{dealType},
				DealPrice			= #{dealPrice},
				BrokerFee			= #{brokerFee},
				AcquisitionTax		= #{acquisitionTax},
				PropertyTotalTax	= #{propertyTotalTax},
				Remark				= #{remark},
				UpdateDate			= NOW()
		WHERE MemberIdx = #{memberIdx}
		  AND MemberRealEstateIdx = #{memberRealEstateIdx}
	</update>
	
	<!-- 사용자 부동산 정보 삭제 -->
	<delete id="delete" parameterType="memberRealEstate">
		DELETE 
		  FROM MemberRealEstate 
		 WHERE memberRealEstateIdx = #{memberRealEstateIdx} 
		   AND MemberIdx = #{memberIdx}
	</delete>
	
	<!-- 사용자 부동산 정보 total count 조회 -->
	<select id="selectOfTotalCount" resultType="Long" parameterType="com.ds.home.model.dto.PagingDTO">
		SELECT COUNT(MemberRealEstateIdx)
		  
		<!-- 공통 검색 조건 -->
		<include refid="selectOfWhere"></include>  
	</select>
	
	<!-- 목록 공통 검색 조건 -->
	<sql id="selectOfWhere">
		FROM MemberRealEstate AS A
   LEFT JOIN StationInfo AS B 
		  ON A.StationNo = B.StationNo
		 AND A.StationLineNo = B.StationLineNo
   LEFT JOIN CommCode AS C
   		  ON A.DirectionType = C.Code
		 
		<where>
			<!-- 매물명 -->
			<if test="@com.ds.home.etc.util.StringUtil@isNotEmpty(model.houseName)">
				AND A.HouseName LIKE CONCAT('%', TRIM(#{model.houseName}), '%')
			</if>
			<!-- 주소 -->
			<if test="@com.ds.home.etc.util.StringUtil@isNotEmpty(model.address)">
				AND A.Address LIKE CONCAT('%', TRIM(#{model.address}), '%')
			</if>
			<!-- 사용승인일 -->
			<if test="@com.ds.home.etc.util.StringUtil@isNotEmpty(model.useApproveDate)">
				AND DATE_FORMAT(A.UseApproveDate, '%y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{model.useApproveDate}, '%y%m%d')
			</if>
			<!-- 호선 -->
			<if test="@com.ds.home.etc.util.StringUtil@isNotEmpty(model.stationLineNo)">
				AND A.StationLineNo = #{model.stationLineNo}
			</if>
			<!-- 이름 -->
			<if test="@com.ds.home.etc.util.StringUtil@isNotEmpty(model.stationNo)">
				AND A.StationNo = #{model.stationNo}
			</if>
		</where>
	</sql>
	
</mapper>