<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.estate.model.mapper.LineOwnerMapper">

	<!-- 라인정보 목록 조회 -->
	<select id="list" resultType="lineOwner">
		SELECT
			LineOwnerIdx,
			LineKindsIdx,
			OwnerName,
			OwnerLat,
			OwnerLng,
			CreateDate
			
		  FROM LineOwner
	</select>
	
	<!-- 라인정보 등록 -->
	<insert id="insert" parameterType="lineOwner">
		INSERT INTO LineOwner
		(
			LineKindsIdx,
			OwnerName,
			OwnerLat,
			OwnerLng
		)
		VALUES
		(
			#{lineKindsIdx},
			#{ownerName},
			#{ownerLat},
			#{ownerLng}
		)
	</insert>
</mapper>