<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.homes.model.mapper.BankBookStatisticsMapper">
	
	<!-- 정산 목록 Result Map -->
	<resultMap type="bankBookStatistics" id="bankBookStatisticsList" autoMapping="true">
		<id property="statisticsIdx" column="StatisticsIdx"/>
		
		<!-- 정산 상세 목록 collection -->
		<collection ofType="bankBookStatisticsDetail" property="bankBookStatisticsDetailList" autoMapping="true">
			<id property="statisticsDetailIdx" column="StatisticsDetailIdx"/>
			
			<!-- 카테고리 collection -->
			<collection ofType="category" property="category1" autoMapping="true">
				<id property="categoryIdx" 	column="CategoryIdx"/>
			</collection>
		</collection>
	</resultMap>
	
	<!-- 정산 목록 조회 -->
	<select id="select" parameterType="bankBookStatistics" resultMap="bankBookStatisticsList">
		SELECT 
			BBS.StatisticsIdx			,
			BBS.HomeIdx					,
			BBS.StatisticsDate			,
			BBS.StatisticsRealDate		,
			BBS.IncomeAmount			,
			BBS.SpendingAmount			,
			BBS.RemainingAmount			,
			
			BBSD.StatisticsDetailIdx	,
			BBSD.AmountType				,
			BBSD.Amount					,
			
			C.CategoryIdx				,
			C.CategoryCode				,
			C.CategoryName
			
		  FROM BankBookStatistics BBS
		  
		  <!-- 정산 상세 내역 -->
		  LEFT JOIN BankBookStatisticsDetail BBSD 
		    ON BBSD.StatisticsIdx = BBS.StatisticsIdx
		  <!-- 카테고리 -->
		  LEFT JOIN Category C 
		    ON BBSD.CategoryIdx = C.CategoryIdx
		  
		 WHERE BBS.HomeIdx = #{homeIdx}
		   AND SUBSTR(BBS.StatisticsRealDate, 1, 4) = #{statisticsRealDate}
		   
		 ORDER BY BBS.StatisticsRealDate ASC
	</select>
	
	<!-- 정산 조회 -->
	<select id="detail" parameterType="bankBookStatistics" resultType="bankBookStatistics">
		SELECT
			StatisticsIdx		,
			HomeIdx				,
			StatisticsDate		,
			StatisticsRealDate	,
			IncomeAmount		,
			SpendingAmount		,
			RemainingAmount		,
			CreateDate
			
		  FROM BankBookStatistics
		 WHERE HomeIdx 				= #{homeIdx}
		   AND StatisticsRealDate 	= #{statisticsRealDate}
	</select>
	
	<!-- 정산 통계 등록 -->
	<insert id="insert" parameterType="bankBookStatistics">
		INSERT INTO BankBookStatistics
		(
			HomeIdx					,	<!-- Home PK -->
			StatisticsDate			,	<!-- 정산 일자 -->
			StatisticsRealDate		,	<!-- 실제 정산 일자 -->
			IncomeAmount			,	<!-- 수입 총 금액 -->
			SpendingAmount			,	<!-- 지출 총 금액 -->
			RemainingAmount				<!-- 남은 총 금액 -->
		)
		VALUES
		(
			#{homeIdx}				,
			#{statisticsDate}		,
			#{statisticsRealDate}	,
			#{incomeAmount}			,
			#{spendingAmount}		,
			#{incomeAmount - spendingAmount}
		)
		
		<!-- return Last Key -->
		<selectKey resultType="Integer" keyProperty="statisticsIdx" order="AFTER">
	        SELECT LAST_INSERT_ID()
	    </selectKey> 
	</insert>
	
	<!-- 정산 삭제 (취소) -->
	<delete id="delete" parameterType="bankBookStatistics">
		DELETE FROM BankBookStatistics
		 WHERE StatisticsIdx = #{statisticsIdx}
	</delete>
</mapper>